/* poppins-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v21-latin-300.eot'); /* IE9 Compat Modes */
    src: url('../fonts/poppins-v21-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v21-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/poppins-v21-latin-300.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/poppins-v21-latin-300.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/poppins-v21-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v21-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/poppins-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/poppins-v21-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/poppins-v21-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/poppins-v21-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v21-latin-700.eot'); /* IE9 Compat Modes */
    src: url('../fonts/poppins-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v21-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/poppins-v21-latin-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/poppins-v21-latin-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/poppins-v21-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v21-latin-900.eot'); /* IE9 Compat Modes */
    src: url('../fonts/poppins-v21-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v21-latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/poppins-v21-latin-900.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/poppins-v21-latin-900.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/poppins-v21-latin-900.svg#Poppins') format('svg'); /* Legacy iOS */
  }

:root {
    --color-brand: #819b57;
    --color-brand-sec: #465929;
    --color-light: #faf4ea;
    --color-dark: #31261a;
}

/* BASE */
body {
    color: var(--color-dark);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

ul {
    list-style-type: none;
}

.menu-link {
    color: var(--color-light);
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    transition: color 0.2s;
    text-decoration: none;
}

.menu-link:hover {
    color: var(--color-brand);
}

.button {
    font-size: 18px;
    font-weight: 600;
    background-color: var(--color-brand);
    color: var(--color-light);
    padding: 16px 32px;
    border-radius: 8px;
    border: 2px solid var(--color-brand);
    transition: background-color 0.2s, color 0.2s;
}

.button:hover {
    background-color: transparent;
    color: var(--color-brand-sec);
}

.section-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 84px;
}

.section-title .accent {
    color: var(--color-brand-sec);
}

/* HERO SECTION */
.hero-title {
    font-size: 128px;
    font-weight: 900;
    color: var(--color-light);
    line-height: 192px;
    text-align: center;
}

.hero-title .accent {
    color: var(--color-brand);
}

/* TRADITIONS SECTION */
.benefits {
    background-color: var(--color-brand);
    color: var(--color-light);
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    padding: 12.5px 16px;
}

.traditions-text .accent {
    color: var(--color-brand);
}
.traditions-text .uppercase {
    text-transform: uppercase;
}