:root {
    --color-brand: #819b57;
    --color-brand-sec: #465929;
    --color-light: #faf4ea;
    --color-dark: #31261a;
}

/* BASE */
body {
    color: var(--color-dark);
}

ul {
    list-style-type: none;
}

.menu-link {
    color: var(--color-light);
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    transition: color 0.2s;
    text-decoration: none;
}

.menu-link:hover {
    color: var(--color-brand);
}

.button {
    font-size: 18px;
    font-weight: 600;
    background-color: var(--color-brand);
    color: var(--color-light);
    padding: 16px 32px;
    border-radius: 8px;
    border: 2px solid var(--color-brand);
    transition: background-color 0.2s, color 0.2s;
}

.button:hover {
    background-color: transparent;
    color: var(--color-brand-sec);
}

.section-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 84px;
}

.section-title .accent {
    color: var(--color-brand-sec);
}

/* HERO SECTION */
.hero-title {
    font-size: 128px;
    font-weight: 900;
    color: var(--color-light);
    line-height: 192px;
    text-align: center;
}

.hero-title .accent {
    color: var(--color-brand);
}

/* TRADITIONS SECTION */
.benefits {
    background-color: var(--color-brand);
    color: var(--color-light);
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    padding: 12.5px 16px;
}

.traditions-text .accent {
    color: var(--color-brand);
}
.traditions-text .uppercase {
    text-transform: uppercase;
}